{% extends "layout.html" %}
{% block content %}
  {% if posts is defined and posts|length > 0 %}
      {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted }}</small>
              <h6 class="mr-2">{{ post.author.name }} ({{ post.author.role }})</h6>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
      {% endfor %}
    {% else %}
    <article class="media content-section">
      <div class="media-body">
          <h1>No posts yet!</h1>
      </div>
    </article>
    {% endif %}
{% endblock content %}