{% extends "layout.html" %}
{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Home Page</h1>
    <p class="lead">Please log-in with the email and password provided in user.json to test this app's functionalities.</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary">Test App</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>A dashboard app with user authentication, built in Flask, with help from <a href="https://getbootstrap.com/">Bootstrap</a>!</p>
    </div>
  </footer>
</div>
{% endblock content %}

